**/.DS_Store
*.prefs
**/.project
**/.classpath
**/target/**
**/node_modules/**
springsongs-job-service/chenyongcan.log
springsongs-job-service/chenyongcan.log
springsongs-job-service/chenyongcan.log.2020-12-14.0.gz
springsongs-sys-service/chenyongcan.log
springsongs-sys-service/chenyongcan.log.2020-12-16.0.gz
springsongs-sys-service/chenyongcan.log
**/*.log
